<!-- Top level launch file to start navigation on a robot -->
<launch>
    <include file="$(find pilz_navigation)/sub_launch/amcl.launch"/>
    <include file="$(find pilz_navigation)/sub_launch/move_base.launch"/>
    <include file="$(find pilz_navigation)/sub_launch/driver_$(env ROBOT).launch"/>
</launch>